---
Checks:          '*,
                  -llvm-header-guard,
                  -llvmlibc-restrict-system-libc-headers,
                  -llvmlibc-callee-namespace,
                  '
HeaderFilterRegex: '.*'

