name: clang-format-check

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 100
    - name: temp
      run: |
        echo ${GITHUB_SHA}
        echo ${GITHUB_REF}
        echo $(get merge-base ${GITHUB_SHA} main)

    - name: Run clang-format for the patch
      run: >
        git diff --no-color ${GITHUB_SHA}^1 ${GITHUB_SHA} --name-only -- |
        grep -v "/test/" | xargs git diff -U0 --no-color ${GITHUB_SHA}^1 ${GITHUB_SHA} -- |
        clang-format-diff-11 -p1 -binary clang-format-11 > ./clang-format.patch
        
    # Add patch with formatting fixes to CI job artifacts
    - uses: actions/upload-artifact@v1
      with:
        name: clang-format-patch
        path: ./clang-format.patch

    - name: Check if clang-format patch is empty
      run: bash -c "if [ -s ./clang-format.patch ]; then cat ./clang-format.patch; exit 1; fi"
