name: Test workflow

on:
  push:
    branches: main
  pull_request:
    branches: main

env:
  BUILD_TYPE: Debug # Release, Debug, RelWithDebInfo, etc.
  BOOST_URL: https://boostorg.jfrog.io/artifactory/main/release/1.76.0/source/boost_1_76_0.tar.bz2
  BOOST_VERSION: boost_1_76_0

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        compiler: [clang, gcc]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Update system
      run: sudo apt-get update
    - name: Load cached boost
      id: cache-boost
      uses: actions/cache@v2.1.5
      with:
        path: ${{github.workspace}}/${{env.BOOST_VERSION}}
        key: ${{ runner.os }}-boost
    - name: Install GCC
      if: ${{ matrix.compiler == 'gcc' }}
      run: sudo apt-get install gcc-11 g++-11
    - name: Install boost (if not cached)
      if: steps.cache-boost.outputs.cache-hit != 'true'
      run: |
        wget --directory-prefix=${{github.workspace}} ${{env.BOOST_URL}} -q
        tar --bzip2 -xf ${{github.workspace}}/${{env.BOOST_VERSION}}.tar.bz2 --directory ${{github.workspace}}
    - name: Setup
      run: mkdir ${{github.workspace}}/build
    - name: TMP
      run: |
        ls -la
        pwd
        echo ${{github.workspace}}
    - name: Configure cmake
      run: |
        if [ "${{ matrix.compiler }}" == 'gcc' ]; then
          export CC=gcc-11
          export CXX=g++-11
        elif [ "${{ matrix.compiler }}" == 'clang' ]; then
          export CC=clang-11
          export CXX=clang++-11
        fi
        cmake \
        -B ${{github.workspace}}/build \
        -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
        -DUTILITY_TEST=ON \
        -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
        -DBOOST_ROOT=${{github.workspace}}/${{env.BOOST_VERSION}}
    - name: Build tests
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --parallel 8
    - name: Run tests
      working-directory: ${{github.workspace}}/build
      run: utility_test/UtilityTest
