name: Test workflow

on:
  push:
    branches: main
  pull_request:
    branches: main

env:
  BUILD_TYPE: Debug # Release, Debug, RelWithDebInfo, etc.
  BOOST_URL: https://boostorg.jfrog.io/artifactory/main/release/1.76.0/source/boost_1_76_0.tar.bz2
  BOOST_VERSION: boost_1_76_0

jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Run clang-format for the patch
      run: >
        git diff --no-color ${GITHUB_SHA}^1 ${GITHUB_SHA} --name-only -- |
        grep -v "/test/" | xargs git diff -U0 --no-color ${GITHUB_SHA}^1 ${GITHUB_SHA} -- |
        clang-format-diff-11 -p1 -binary clang-format-11 > ./clang-format.patch
    # Add patch with formatting fixes to CI job artifacts
    - uses: actions/upload-artifact@v1
      with:
        name: clang-format-patch
        path: ./clang-format.patch
    - name: Check if clang-format patch is empty
      run: bash -c "if [ -s ./clang-format.patch ]; then cat ./clang-format.patch; exit 1; fi"

  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        compiler: [clang, gcc]

    steps:
    - uses: actions/checkout@v2
    - name: Update
      run: sudo apt-get update
    - name: Cache boost
      id: cache-boost
      uses: actions/cache@v2.1.5
      with:
        path: ${{github.workspace}}/${{env.BOOST_VERSION}}
        key: ${{ runner.os }}-boost
    - name: GCC
      if: ${{ matrix.compiler == 'gcc' }}
      run: sudo apt-get install gcc-11 g++-11
    - name: Boost
      if: steps.cache-boost.outputs.cache-hit != 'true'
      run: |
        wget --directory-prefix=${{github.workspace}} ${{env.BOOST_URL}} -q
        tar --bzip2 -xf ${{github.workspace}}/${{env.BOOST_VERSION}}.tar.bz2 --directory ${{github.workspace}}
    - name: Setup
      run: mkdir ${{github.workspace}}/build
    - name: Configure cmake
      run: |
        if [ "${{ matrix.compiler }}" == 'gcc' ]; then
          export CC=gcc-11
          export CXX=g++-11
        elif [ "${{ matrix.compiler }}" == 'clang' ]; then
          export CC=clang-11
          export CXX=clang++-11
        fi
        cmake \
        -B ${{github.workspace}}/build \
        -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
        -DUTILITY_TEST=ON \
        -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
        -DBOOST_ROOT=${{github.workspace}}/${{env.BOOST_VERSION}}
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --parallel 8
    - name: Test
      working-directory: ${{github.workspace}}/build
      run: utility_test/UtilityTest
