name: Test workflow

on:
  push:
    branches: main
  pull_request:
    branches: main

env:
  BOOST_URL: https://boostorg.jfrog.io/artifactory/main/release/1.76.0/source/boost_1_76_0.tar.bz2
  BOOST_VERSION: boost_1_76_0
  CMAKE_COMMON_OPTIONS: -B build -DUTILITY_TEST=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DBOOST_ROOT=${{github.workspace}}/boost_1_76_0

jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Setup
      run: sudo ln -s /usr/bin/clang-format-diff-11 /usr/bin/clang-format-diff
    - name: Run clang-format for the patch
      run: git diff -U0 --no-color HEAD^ | clang-format-diff -p1 > clang-format.patch
    - uses: actions/upload-artifact@v1
      with:
        name: clang-format-patch
        path: clang-format.patch
    - name: Check if clang-format patch is empty
      run: bash -c "if [ -s clang-format.patch ]; then cat clang-format.patch; exit 1; fi"

  clang-tidy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Update system
      run: sudo apt-get update
    - name: Load cached boost
      id: cache-boost
      uses: actions/cache@v2.1.5
      with:
        path: ${{env.BOOST_VERSION}}
        key: ${{runner.os}}-boost
    - name: Install boost (if not cached)
      if: steps.cache-boost.outputs.cache-hit != 'true'
      run: |
        wget -q ${{env.BOOST_URL}}
        tar --bzip2 -xf ${{env.BOOST_VERSION}}.tar.bz2
    - name: Install clang-tidy
      run: sudo apt-get install clang-tidy-11
    - name: Setup
      run: |
        mkdir build
        touch clang-tidy.patch
        sudo ln -s /usr/bin/clang-tidy-11 /usr/bin/clang-tidy
    - name: Configure cmake
      env:
        CC: clang
        CXX: clang++
      run: cmake $CMAKE_COMMON_OPTIONS -DCMAKE_BUILD_TYPE=Debug
    - name: Run clang-tidy
      run: git diff -U0 --no-color HEAD^ | clang-tidy-diff-11.py -j8 -p1 -path build -export-fixes clang-tidy.patch
    - uses: actions/upload-artifact@v1
      with:
        name: clang-tidy.patch
        path: clang-tidy.patch
    - name: Check if clang-tidy log is empty
      run: bash -c "if [ -s clang-tidy.patch ]; then cat clang-tidy.patch; exit 1; fi"

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [llvm, gcc]
        build_type: [Debug, Release]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Update system
      run: sudo apt-get update
    - name: Load cached boost
      id: cache-boost
      uses: actions/cache@v2.1.5
      with:
        path: ${{env.BOOST_VERSION}}
        key: ${{runner.os}}-boost
    - name: Install GCC
      if: ${{matrix.toolchain == 'gcc'}}
      run: |
        sudo apt-get install gcc-11 g++-11
        sudo ln -s -f /usr/bin/gcc-11 /usr/bin/gcc
        sudo ln -s -f /usr/bin/g++-11 /usr/bin/g++
        #update-alternatives --set gcc "/usr/bin/gcc-11"
        #update-alternatives --set g++ "/usr/bin/g++-11"
        #sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-11 100
        #sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-11 100
    - name: Install valgrind
      if: ${{matrix.build_type == 'Debug'}}
      run: sudo apt-get install valgrind
    - name: Install boost (if not cached)
      if: steps.cache-boost.outputs.cache-hit != 'true'
      run: |
        wget -q ${{env.BOOST_URL}}
        tar --bzip2 -xf ${{env.BOOST_VERSION}}.tar.bz2
    - name: Setup
      run: |
        mkdir build
        sudo ln -s -f /usr/bin/clang-11 /usr/bin/clang
        sudo ln -s -f /usr/bin/clang++-11 /usr/bin/clang++
    - name: Configure cmake
      run: |
        if [ "${{matrix.toolchain}}" == 'gcc' ]; then
          export CC=gcc
          export CXX=g++
        elif [ "${{matrix.toolchain}}" == 'llvm' ]; then
          export CC=clang
          export CXX=clang++
        fi
        cmake $CMAKE_COMMON_OPTIONS -DCMAKE_BUILD_TYPE=${{matrix.build_type}}
    - name: Build tests
      run: cmake --build build --config ${{matrix.build_type}} --parallel 8
    - name: Run tests
      run: build/utility_test/UtilityTest
    - name: Run valgrind
      if: ${{matrix.build_type == 'Debug'}}
      run: valgrind build/utility_test/UtilityTest
